#itemsMenu, #itemsMenu li{
	display: inline;
	
}

#itemsMenu li{
	padding-right: 2em;
	
}

form{
	margin-right:10em;
	margin-left:10em;
}

.navbar-fixed-top{
	position:relative;
}

#includeMenu{
	position:absolute;
}

/**************/
body {
	min-height: 1200px;
}
.divScroll {
  overflow-y: scroll;
}

.weightedInfos {
	font-weight: bold;
}

.btn-own {
	height: 25px;
	width: 95px;
	padding: 0px;
	margin-bottom: 5px;
}

.carousel-inner {
	background-color: #f5f5fa;
}

.formRendezVous {
	margin: 35px 0px 35px 0px;
}

.formRendezVousMulticriteres {
	margin: 70px 0px 35px 0px;
}

.container-checkBox {
	margin-top : 0px;
	border:2px solid #ccc;
	height: 150px;
	overflow-y: scroll;
}

.critere {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
}

.checkForm {
	padding-left: 10px;
}