#itemsMenu, #itemsMenu li{
	display: inline;
	
}

#itemsMenu li{
	padding-right: 2em;
	
}

form{
	margin-right:10em;
	margin-left:10em;
}

.navbar-fixed-top{
	position:relative;
}

#includeMenu{
	position:absolute;
}

/**************/
body {
	min-height: 1200px;
}
.divScroll {
  overflow-y: scroll;
}

.weightedInfos {
	font-weight: bold;
}

.btn-own {
	height: 25px;
	width: 95px;
	padding: 0px;
	margin-bottom: 5px;
}

.carousel-inner {
	background-color: #f5f5fa;
}