<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <error-page>
    <error-code>404</error-code>
    <location>/erreur</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>erreur</servlet-name>
    <jsp-file>/jsp/erreur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>erreur</servlet-name>
    <url-pattern>/erreur</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
   	<display-name>JSP Security Constraints</display-name>
   	<web-resource-collection>
      <web-resource-name>JSP Directory</web-resource-name>
      <url-pattern>/jsp/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
   	</web-resource-collection>
	<auth-constraint>
	   <role-name>Admin</role-name>
	</auth-constraint>
	<user-data-constraint>
	   <transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
</web-app>